@using ProductApp.Models;

<h1>List Of All Products</h1>
<hr/>
<table style="border: 5px;">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Price</th>
        </tr>
    </thead>
    <body>
        @{
        List<Product> product=(List<Product>)ViewData["products"];
        foreach(Product prod in product){
            <tr>
                <td>@prod.Id</td>
                <td>@prod.Title</td>
                <td>@prod.Price</td>
            </tr>
        }
}
    </body>
</table>


